
body{
   background-color: rgb(117, 120, 109);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-size: xx-large;
}


.calculator{
   background-color: black;
   width: 20%;
   height: 60%;
   border: 2px solid gold;
   border-radius: 2%;
}




.calculator-display{
   display: flex;
   justify-content: right;
   padding: 5px;
   margin-bottom: 10%;
   color: white;
   font-size: 1.5em;
}

.calculator-buttons{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 0.5em;
   margin-left: 5px;
}

.button{
   width: 4em;
   height: 4em;
   border-radius: 50%;
   font-weight: bolder;
   font-size:0.4em;
   border: none;
   cursor: pointer;
   background-color: grey;
   font-family: 'Courier New', Courier, monospace;
}

.button.large-button {
   width: 100%;
    grid-column: span 2;
    border-radius: 5em;
}

.gray{
   background-color: rgb(173, 170, 170);
}
.orange{
   background-color: rgb(222, 156, 35);
   color: white;
}